In [16]:
pip install pandas-profiling

Collecting pandas-profiling
  Using cached pandas_profiling-3.6.6-py2.py3-none-any.whl (324 kB)
Collecting ydata-profiling
  Using cached ydata_profiling-4.3.1-py2.py3-none-any.whl (352 kB)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.11.2)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (6.0)
Requirement already satisfied: dacite>=1.8 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.8.1)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.1.12)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.9.1)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.14.0)
Requirement already satisfied: imagehash==4.3.1 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (4.3.1)
Requirement already satisfied: matplotlib<4,>=3.2 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (3.4.3)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.20.3)
Requirement already satisfied: visions[type_image_path]==0.7.5 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.7.5)
Requirement already satisfied: wordcloud>=1.9.1 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.9.2)
Requirement already satisfied: pandas!=1.4.0,<2.1,>1.1 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.3.4)
Requirement already satisfied: pydantic<2,>=1.8.1 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.10.2)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (4.62.3)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (2.31.0)
Requirement already satisfied: typeguard<3,>=2.13.2 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (2.13.3)
Requirement already satisfied: scipy<1.11,>=1.4.1 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.7.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\admin\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (2.11.3)
Collecting phik<0.13,>=0.11.1
  Using cached phik-0.12.3-cp39-cp39-win_amd64.whl (663 kB)
Requirement already satisfied: pillow in c:\users\admin\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling->pandas-profiling) (8.4.0)
Requirement already satisfied: PyWavelets in c:\users\admin\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling->pandas-profiling) (1.1.1)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in c:\users\admin\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (0.2.0)
Requirement already satisfied: networkx>=2.4 in c:\users\admin\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (2.6.3)
Requirement already satisfied: attrs>=19.3.0 in c:\users\admin\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (21.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\admin\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling->pandas-profiling) (1.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas-profiling) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas-profiling) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas-profiling) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas-profiling) (0.10.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas!=1.4.0,<2.1,>1.1->ydata-profiling->pandas-profiling) (2021.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\admin\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling->pandas-profiling) (1.1.0)
Requirement already satisfied: typing-extensions>=4.1.0 in c:\users\admin\anaconda3\lib\site-packages (from pydantic<2,>=1.8.1->ydata-profiling->pandas-profiling) (4.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas-profiling) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas-profiling) (3.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas-profiling) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas-profiling) (1.26.14)
Requirement already satisfied: packaging>=21.3 in c:\users\admin\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling->pandas-profiling) (23.1)
Requirement already satisfied: patsy>=0.5.2 in c:\users\admin\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling->pandas-profiling) (0.5.2)
Requirement already satisfied: colorama in c:\users\admin\anaconda3\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling->pandas-profiling) (0.4.4)
Requirement already satisfied: six in c:\users\admin\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib<4,>=3.2->ydata-profiling->pandas-profiling) (1.16.0)
Installing collected packages: phik, ydata-profiling, pandas-profiling
Successfully installed pandas-profiling-3.6.6 phik-0.12.3 ydata-profiling-4.3.1
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -tatsmodels (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\admin\anaconda3\lib\site-packages)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [59]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge,RidgeCV,LassoCV,ElasticNet,ElasticNetCV,LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport

In [3]:
df = pd.read_csv('Admission_Prediction.csv')
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332.0,108.0,5.0,4.5,4.0,9.02,1,0.87
496,497,337.0,117.0,5.0,5.0,5.0,9.87,1,0.96
497,498,330.0,120.0,5.0,4.5,5.0,9.56,1,0.93
498,499,312.0,103.0,4.0,4.0,5.0,8.43,0,0.73
499,500,327.0,113.0,4.0,4.5,4.5,9.04,0,0.84

In [4]:
pf = ProfileReport(df)
pf.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [5]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332.0,108.0,5.0,4.5,4.0,9.02,1,0.87
496,497,337.0,117.0,5.0,5.0,5.0,9.87,1,0.96
497,498,330.0,120.0,5.0,4.5,5.0,9.56,1,0.93
498,499,312.0,103.0,4.0,4.0,5.0,8.43,0,0.73
499,500,327.0,113.0,4.0,4.5,4.5,9.04,0,0.84

In [6]:
df['GRE Score'] = df['GRE Score'].fillna(df['GRE Score'].mean())

In [7]:
df['TOEFL Score'] = df['TOEFL Score'].fillna(df['TOEFL Score'].mean())
df['University Rating'] = df['University Rating'].fillna(df['University Rating'].mean())

In [8]:
df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.00000
mean,250.500000,316.558763,107.187755,3.121649,3.374000,3.48400,8.576440,0.560000,0.72174
std,144.481833,11.103952,6.051338,1.128802,0.991004,0.92545,0.604813,0.496884,0.14114
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.00000,6.800000,0.000000,0.34000
25%,125.750000,309.000000,103.000000,2.000000,2.500000,3.00000,8.127500,0.000000,0.63000
50%,250.500000,316.558763,107.000000,3.000000,3.500000,3.50000,8.560000,1.000000,0.72000
75%,375.250000,324.000000,112.000000,4.000000,4.000000,4.00000,9.040000,1.000000,0.82000
max,500.000000,340.000000,120.000000,5.000000,5.000000,5.00000,9.920000,1.000000,0.97000

In [12]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [13]:
df.drop(columns = ['Serial No.'],inplace = True)
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337.000000,118.0,4.0,4.5,4.5,9.65,1,0.92
1,324.000000,107.0,4.0,4.0,4.5,8.87,1,0.76
2,316.558763,104.0,3.0,3.0,3.5,8.00,1,0.72
3,322.000000,110.0,3.0,3.5,2.5,8.67,1,0.80
4,314.000000,103.0,2.0,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332.000000,108.0,5.0,4.5,4.0,9.02,1,0.87
496,337.000000,117.0,5.0,5.0,5.0,9.87,1,0.96
497,330.000000,120.0,5.0,4.5,5.0,9.56,1,0.93
498,312.000000,103.0,4.0,4.0,5.0,8.43,0,0.73
499,327.000000,113.0,4.0,4.5,4.5,9.04,0,0.84

In [14]:
y = df['Chance of Admit']
x = df.drop(columns=['Chance of Admit'])

In [15]:
x

      GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
0    337.000000        118.0                4.0  4.5  4.5  9.65         1
1    324.000000        107.0                4.0  4.0  4.5  8.87         1
2    316.558763        104.0                3.0  3.0  3.5  8.00         1
3    322.000000        110.0                3.0  3.5  2.5  8.67         1
4    314.000000        103.0                2.0  2.0  3.0  8.21         0
..          ...          ...                ...  ...  ...   ...       ...
495  332.000000        108.0                5.0  4.5  4.0  9.02         1
496  337.000000        117.0                5.0  5.0  5.0  9.87         1
497  330.000000        120.0                5.0  4.5  5.0  9.56         1
498  312.000000        103.0                4.0  4.0  5.0  8.43         0
499  327.000000        113.0                4.0  4.5  4.5  9.04         0

[500 rows x 7 columns]

In [16]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: Chance of Admit, Length: 500, dtype: float64

In [17]:
scaler = StandardScaler()
arr = scaler.fit_transform(x)

In [18]:
arr

array([[ 1.84274116e+00,  1.78854223e+00,  7.78905651e-01, ...,
         1.09894429e+00,  1.77680627e+00,  8.86405260e-01],
       [ 6.70814288e-01, -3.10581135e-02,  7.78905651e-01, ...,
         1.09894429e+00,  4.85859428e-01,  8.86405260e-01],
       [ 5.12433309e-15, -5.27312752e-01, -1.07876604e-01, ...,
         1.73062093e-02, -9.54042814e-01,  8.86405260e-01],
       ...,
       [ 1.21170361e+00,  2.11937866e+00,  1.66568791e+00, ...,
         1.63976333e+00,  1.62785086e+00,  8.86405260e-01],
       [-4.10964364e-01, -6.92730965e-01,  7.78905651e-01, ...,
         1.63976333e+00, -2.42366993e-01, -1.12815215e+00],
       [ 9.41258951e-01,  9.61451165e-01,  7.78905651e-01, ...,
         1.09894429e+00,  7.67219636e-01, -1.12815215e+00]])

In [20]:
df1 = pd.DataFrame(arr)
df1.profile_report().to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [21]:
df1.describe()

,0,1,2,3,4,5,6
count,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02
mean,4.350520e-15,9.419132e-16,5.608847e-16,2.926548e-16,-1.332268e-17,3.091971e-15,-2.202682e-16
std,1.001002e+00,1.001002e+00,1.001002e+00,1.001002e+00,1.001002e+00,1.001002e+00,1.001002e+00
min,-2.394225e+00,-2.512331e+00,-1.881441e+00,-2.397950e+00,-2.686789e+00,-2.940115e+00,-1.128152e+00
25%,-6.814090e-01,-6.927310e-01,-9.946589e-01,-8.828175e-01,-5.235128e-01,-7.430227e-01,-1.128152e+00
50%,5.124333e-15,-3.105811e-02,-1.078766e-01,1.272712e-01,1.730621e-02,-2.720919e-02,8.864053e-01
75%,6.708143e-01,7.960330e-01,7.789057e-01,6.323155e-01,5.581253e-01,7.672196e-01,8.864053e-01
max,2.113186e+00,2.119379e+00,1.665688e+00,1.642404e+00,1.639763e+00,2.223672e+00,8.864053e-01

In [22]:
arr

array([[ 1.84274116e+00,  1.78854223e+00,  7.78905651e-01, ...,
         1.09894429e+00,  1.77680627e+00,  8.86405260e-01],
       [ 6.70814288e-01, -3.10581135e-02,  7.78905651e-01, ...,
         1.09894429e+00,  4.85859428e-01,  8.86405260e-01],
       [ 5.12433309e-15, -5.27312752e-01, -1.07876604e-01, ...,
         1.73062093e-02, -9.54042814e-01,  8.86405260e-01],
       ...,
       [ 1.21170361e+00,  2.11937866e+00,  1.66568791e+00, ...,
         1.63976333e+00,  1.62785086e+00,  8.86405260e-01],
       [-4.10964364e-01, -6.92730965e-01,  7.78905651e-01, ...,
         1.63976333e+00, -2.42366993e-01, -1.12815215e+00],
       [ 9.41258951e-01,  9.61451165e-01,  7.78905651e-01, ...,
         1.09894429e+00,  7.67219636e-01, -1.12815215e+00]])

In [23]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif_df = pd.DataFrame()

In [25]:
vif_df['vif'] = [variance_inflation_factor(arr,i) for i in range(arr.shape[1])]

In [26]:
vif_df['feature'] = x.columns

In [27]:
vif_df

        vif            feature
0  4.153268          GRE Score
1  3.792866        TOEFL Score
2  2.508768  University Rating
3  2.775750                SOP
4  2.037308                LOR
5  4.651670               CGPA
6  1.459311           Research

In [28]:
arr

array([[ 1.84274116e+00,  1.78854223e+00,  7.78905651e-01, ...,
         1.09894429e+00,  1.77680627e+00,  8.86405260e-01],
       [ 6.70814288e-01, -3.10581135e-02,  7.78905651e-01, ...,
         1.09894429e+00,  4.85859428e-01,  8.86405260e-01],
       [ 5.12433309e-15, -5.27312752e-01, -1.07876604e-01, ...,
         1.73062093e-02, -9.54042814e-01,  8.86405260e-01],
       ...,
       [ 1.21170361e+00,  2.11937866e+00,  1.66568791e+00, ...,
         1.63976333e+00,  1.62785086e+00,  8.86405260e-01],
       [-4.10964364e-01, -6.92730965e-01,  7.78905651e-01, ...,
         1.63976333e+00, -2.42366993e-01, -1.12815215e+00],
       [ 9.41258951e-01,  9.61451165e-01,  7.78905651e-01, ...,
         1.09894429e+00,  7.67219636e-01, -1.12815215e+00]])

In [32]:
x_train,x_test,y_train,y_test = train_test_split(arr,y,test_size = 0.25, random_state = 100)
x_train

array([[-0.41096436, -0.52731275, -0.1078766 , ...,  0.01730621,
        -0.25891759, -1.12815215],
       [ 0.12992496, -0.19647633, -0.1078766 , ..., -0.52351283,
         0.12174622, -1.12815215],
       [-1.13215013, -1.02356739, -0.99465886, ..., -1.06433187,
        -1.51676323, -1.12815215],
       ...,
       [-1.04200191, -0.85814918, -0.99465886, ..., -1.06433187,
        -0.65613201, -1.12815215],
       [-0.50111259, -0.85814918, -0.1078766 , ...,  0.55812525,
         0.10519562,  0.88640526],
       [-1.31244657, -0.85814918, -1.88144112, ..., -2.14596996,
        -0.95404281, -1.12815215]])

In [34]:
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [37]:
import pickle

In [42]:
pickle.dump(lr,open('admission_lr_model.pickle','wb'))

In [44]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is E876-9C2E

 Directory of C:\Users\ADMIN\New folder

02-Jul-23  21:42    <DIR>          .
02-Jul-23  21:42    <DIR>          ..
02-Jul-23  20:45    <DIR>          .ipynb_checkpoints
02-Jul-23  21:43               560 admission_lr_model.pickle
02-Jul-23  20:45            16,085 Admission_Prediction.csv
02-Jul-23  21:42            62,345 Untitled.ipynb
02-Jul-23  20:44                 0 untitled.txt
               4 File(s)         78,990 bytes
               3 Dir(s)  35,831,197,696 bytes free

In [47]:
lr.predict([[337.000000,118.0,4.0,4.5,4.5,9.65,1]])

array([9.03398929])

In [46]:
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337.000000,118.0,4.0,4.5,4.5,9.65,1,0.92
1,324.000000,107.0,4.0,4.0,4.5,8.87,1,0.76
2,316.558763,104.0,3.0,3.0,3.5,8.00,1,0.72
3,322.000000,110.0,3.0,3.5,2.5,8.67,1,0.80
4,314.000000,103.0,2.0,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332.000000,108.0,5.0,4.5,4.0,9.02,1,0.87
496,337.000000,117.0,5.0,5.0,5.0,9.87,1,0.96
497,330.000000,120.0,5.0,4.5,5.0,9.56,1,0.93
498,312.000000,103.0,4.0,4.0,5.0,8.43,0,0.73
499,327.000000,113.0,4.0,4.5,4.5,9.04,0,0.84

In [49]:
test1 = scaler.transform([[337.000000,118.0,4.0,4.5,4.5,9.65,1]])
model = pickle.load(open('admission_lr_model.pickle','rb'))
model.predict(test1)

array([0.95359739])

In [50]:
lr.score(x_test,y_test)

0.8262844735686963

In [51]:
def adj_r2(x,y):
    r2 = lr.score(x,y)
    n = x.shape[0]
    p = x.shape[1]
    adjusted_r2 = 1-(1-r2)*(n-1)/(n-p-1)
    return adjusted_r2

In [52]:
adj_r2(x_test,y_test)

0.8158912369446012

In [53]:
lr.coef_

array([0.015458  , 0.01908417, 0.00381077, 0.00315846, 0.01678637,
       0.07622763, 0.01400522])

In [54]:
lr.intercept_

0.7181156002659718

Lasso

In [55]:
lassocv = LassoCV(cv = 10,max_iter = 2000000, normalize = True)
lassocv.fit(x_train,y_train)

LassoCV(cv=10, max_iter=2000000, normalize=True)

In [56]:
lassocv.alpha_

9.742054000449729e-06

In [60]:
from sklearn.linear_model import Lasso

In [61]:
lasso = Lasso(alpha = lassocv.alpha_)
lasso.fit(x_train,y_train)

Lasso(alpha=9.742054000449729e-06)

In [62]:
lasso.score(x_test,y_test)

0.8262977741326504

Ridge

In [66]:
ridgecv = RidgeCV(alphas=np.random.uniform(0,10,50),cv = 10 , normalize = True)
ridgecv.fit(x_train,y_train)

RidgeCV(alphas=array([3.11134189, 8.53608802, 2.95570703, 7.89177592, 0.84870162,
       2.12461222, 0.13456111, 4.15961676, 8.05646021, 2.13032269,
       6.6599676 , 8.17970489, 3.05584422, 4.02037391, 4.79970437,
       5.26715941, 3.15062548, 3.81173454, 2.34614101, 3.75243846,
       1.25506819, 1.69073568, 8.25061723, 5.44522707, 8.44149711,
       2.94436241, 1.44393596, 7.92948433, 1.16710496, 7.33071858,
       8.51786838, 6.27201796, 5.36737612, 8.38679709, 7.81274979,
       1.4604142 , 7.16660815, 9.24151962, 6.24983681, 8.09966284,
       3.4093754 , 0.25387486, 6.85442798, 4.47522722, 1.44551214,
       3.67931868, 2.65018998, 1.75005282, 0.12699207, 5.70222387]),
        cv=10, normalize=True)

In [67]:
ridgecv.alpha_

0.12699207200575935

In [68]:
ridge_lr = Ridge(alpha = ridgecv.alpha_)
ridge_lr.fit(x_train,y_train)

Ridge(alpha=0.12699207200575935)

In [69]:
ridge_lr.score(x_test,y_test)

0.8263275877211442

ELasticNet

In [70]:
elastic = ElasticNetCV(alphas = None,cv = 10)
elastic.fit(x_train,y_train)

ElasticNetCV(cv=10)

In [71]:
elastic.alpha_

0.00032049828688228085

In [72]:
elastic.l1_ratio_

0.5

In [74]:
elastic_lr = ElasticNet(alpha = elastic.alpha_ , l1_ratio=elastic.l1_ratio_)

In [75]:
elastic_lr.fit(x_train,y_train)

ElasticNet(alpha=0.00032049828688228085)

In [76]:
elastic_lr.score(x_test,y_test)

0.8265118379982933